ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;

}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    padding: auto;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 850px;
}

ul li a:hover {
    background-color: #000000;
}

h1 {
    color: #8a2be2;
    padding: 0.5rem;

}

   #banner img {

    width: 100px;
    position: relative;
    left: 700px;
    
    


    }

    #texto {
        position: relative;
        left: 500px;
        width: 900px;
        background-color: #808080;
        padding: 10px;
        float: left;
        font-size: 40px;
        border-radius: 35px;
        text-align: center;
 
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        
        


        
    }
